{% extends 'base.html' %} <!--extends or uses the same charecteristics of base-->


    {% block content %}
            <h1> Join Today </h1> 

            <form method="POST" action="{% url 'join' %}"> <!--created the POST method and the action to be sent to join function-->
                {% csrf_token %} <!--Prevent hackers from accessing site -->
                
                <div class="mb-3">
                    <input type="text" class="form-control"  aria-describedby="university" placeholder="Universty" name="University">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  aria-describedby="university" placeholder="Program" name="Program">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder=" First Name" name="FirstName">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Last Name" name="LastName">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Address" name="Email">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Phone" name="Phone">
                </div>
            
                <div class="mb-3">
                <input type="password" class="form-control"  placeholder="Password" name="Password">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Age" name="Age">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Address" name="Address">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Next Of Kin" name="Next_of_Kin">
                </div>
                <button type="submit" class="btn btn-secondary">Sign Up</button>
                <hr>
                <hr>
            </form>
    {% endblock %}
